node_modules/
.nx/
.nuxt/
.output/
dist/
coverage/
tmp/
.gocache/
.DS_Store
.pnpm-store
.tmp

# Go
bin/
pkg/

# Terraform
.terraform/
*.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json




.nx/cache
.nx/workspace-data
